    <div class="container" style="padding-top: 60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
            <h2>About</h2>
            <p>
              <br />
              I am George Kurkjian. I am a junior programmer, web-developer
              currently studying at Seneca College.<br />
              I am in my fourth academic semester studying Computer Programmer &
              Analysis course. I am very passionate to learn more and gain
              experiences including practices I can use in my projects and as a
              well in my professional life after graduation. <br />
              My professional background was in hospitality which I travelled
              and worked in many countries, such as Armenia, Lebanon and
              Canada.<br />
              After a decade of work in hospitality and after the Covid-19
              pandemic hits the world, I decided to change my career as I always
              wanted to learn and develop myself into IT and computer
              programming languages.<br />
            </p>
            <br /><br />
            <p>
              My hobbies are, working out, cooking fancy foods, making unique
              cocktails and of course, trying some new wines.<br />
              I do like playing guitar on my own, I like playing games on PS and
              while I am playing discover how the game is done from the
              programming side and try to find bugs and try to solve them on my
              own.<br />
              Creating websites is one my latest favourite, as I found it doing
              it as an art, patient and precise.<br />
            </p>
          </article>
        </section>
        <aside class="col-md-3">
          <!-- Not sure what is required here. -->
          <h2>Coming Soon</h2>
          <p>
            <br />
            Stay tuned in the upcoming days, there will be more updates and
            might new websites as a good project coming on in this winter 2023
            from the WEB322 class.
          </p>
        </aside>
      </div>
    </div>
